@model PcPartsShopDomain.Model.Psu

@{
    ViewData["Title"] = "PSU Details";
}

<h1 class="mb-3">PSU Details</h1>

<div class="card shadow p-4">
    <h4 class="text-primary">@Model.Name</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">Wattage</dt>
        <dd class="col-sm-9">@Model.Wattage W</dd>

        <dt class="col-sm-3">Modular</dt>
        <dd class="col-sm-9">
            @(Model.Modular ? "Yes" : "No")
        </dd>

        <dt class="col-sm-3">Efficiency</dt>
        <dd class="col-sm-9">@Model.Efficiency %</dd>

        <dt class="col-sm-3 text-success fw-bold">Price</dt>
        <dd class="col-sm-9 text-success fw-bold">
            @Model.Product.Price.ToString("C", new System.Globalization.CultureInfo("en-US"))
        </dd>
    </dl>

    <div class="mt-3">
        <a asp-action="Index" asp-controller="Products" class="btn btn-secondary">До продуктів</a>
        <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model?.ProductId" class="btn btn-success">Додати до кошика</a>
        <a asp-action="Edit" asp-controller="Products" asp-route-id="@Model?.ProductId" class="btn btn-warning">Змінити</a>
    </div>
</div>
