@model PcPartsShopDomain.Model.Cpu

@{
    ViewData["Title"] = "CPU Details";
}

<h1 class="mb-3">CPU Details</h1>

<div class="card shadow p-4">
    <h4 class="text-primary">@Model.Name</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">Series</dt>
        <dd class="col-sm-9">@Model.Series</dd>

        <dt class="col-sm-3">Generation</dt>
        <dd class="col-sm-9">@Model.Generation</dd>

        <dt class="col-sm-3">Cores</dt>
        <dd class="col-sm-9">@Model.Cores</dd>

        <dt class="col-sm-3">Threads</dt>
        <dd class="col-sm-9">@Model.Threads</dd>

        <dt class="col-sm-3">Base Clock</dt>
        <dd class="col-sm-9">@Model.BaseClock GHz</dd>

        <dt class="col-sm-3">Boost Clock</dt>
        <dd class="col-sm-9">@Model.BoostClock GHz</dd>

        <dt class="col-sm-3">Cache</dt>
        <dd class="col-sm-9">@Model.Cache MB</dd>

        <dt class="col-sm-3">Supported Memory Type</dt>
        <dd class="col-sm-9">@Model.SupportedMemoryType</dd>

        <dt class="col-sm-3">Socket</dt>
        <dd class="col-sm-9">@Model.Socket</dd>

        <dt class="col-sm-3">TDP</dt>
        <dd class="col-sm-9">@Model.Tdp W</dd>

        <dt class="col-sm-3 text-success fw-bold">Price</dt>
        <dd class="col-sm-9 text-success fw-bold">
            @Model.Product.Price.ToString("C", new System.Globalization.CultureInfo("en-US"))
        </dd>
    </dl>

    <div class="mt-3">
        <a asp-action="Index" asp-controller="Products" class="btn btn-secondary">Back</a>
        <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model?.ProductId" class="btn btn-success">Add to cart</a>
        <a asp-action="Edit" asp-controller="Products" asp-route-id="@Model?.ProductId" class="btn btn-warning">Edit</a>
    </div>
</div>