@model IEnumerable<PcPartsShopDomain.Model.Cpu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Series)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Generation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Threads)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseClock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoostClock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cache)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportedMemoryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Socket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tdp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Series)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Generation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Threads)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseClock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoostClock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cache)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportedMemoryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Socket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tdp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Category)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
