@model PcPartsShopDomain.Model.Gpu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gpu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Series)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Series)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Generation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Generation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemoryAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemoryAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemoryType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemoryType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseClock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseClock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoostClock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoostClock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PcieVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PcieVersion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PcieCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PcieCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tdp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tdp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-controller="Products" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Index" asp-controller="Products">Back to List</a>
</div>
