@model PcPartsShopDomain.Model.Gpu

@{
    ViewData["Title"] = "GPU Details";
}

<h1 class="mb-3">GPU Details</h1>

<div class="card shadow p-4">
    <h4 class="text-primary">@Model.Name</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">Series</dt>
        <dd class="col-sm-9">@Model.Series</dd>

        <dt class="col-sm-3">Generation</dt>
        <dd class="col-sm-9">@Model.Generation</dd>

        <dt class="col-sm-3">Memory Amount</dt>
        <dd class="col-sm-9">@Model.MemoryAmount GB</dd>

        <dt class="col-sm-3">Memory Type</dt>
        <dd class="col-sm-9">@Model.MemoryType</dd>

        <dt class="col-sm-3">Base Clock</dt>
        <dd class="col-sm-9">@Model.BaseClock MHz</dd>

        <dt class="col-sm-3">Boost Clock</dt>
        <dd class="col-sm-9">@Model.BoostClock MHz</dd>

        <dt class="col-sm-3">PCIe Version</dt>
        <dd class="col-sm-9">@Model.PcieVersion</dd>

        <dt class="col-sm-3">PCIe Count</dt>
        <dd class="col-sm-9">@Model.PcieCount</dd>

        <dt class="col-sm-3">TDP</dt>
        <dd class="col-sm-9">@Model.Tdp W</dd>

        <dt class="col-sm-3 text-success fw-bold">Price</dt>
        <dd class="col-sm-9 text-success fw-bold">
            @Model.Product.Price.ToString("C", new System.Globalization.CultureInfo("en-US"))
        </dd>
    </dl>

    <div class="mt-3">
        <a asp-action="Index" asp-controller="Products" class="btn btn-secondary">Back</a>
        <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model?.ProductId" class="btn btn-success">Add to cart</a>
        <a asp-action="Edit" asp-controller="Products" asp-route-id="@Model?.ProductId" class="btn btn-warning">Edit</a>
    </div>
</div>
