@model IEnumerable<PcPartsShopDomain.Model.Motherboard>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Socket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chipset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormFactor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemorySlotsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemoryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxMemory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PcieVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Socket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chipset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormFactor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemorySlotsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemoryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxMemory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PcieVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Category)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
